In [1]:
import pandas as pd
import numpy as np
#!pip install tqdm
from tqdm import tqdm
import os

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
!pwd

/content

In [3]:
cd drive/My Drive

/content/drive/My Drive

In [23]:
!tar -xzvf lastfm-dataset-1K.tar.gz

lastfm-dataset-1K/
lastfm-dataset-1K/userid-profile.tsv
lastfm-dataset-1K/README.txt
lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv

In [1]:
!ls

drive  sample_data

In [4]:
filename1 = "lastfm-dataset-1K/userid-profile.tsv"
filename2 = "lastfm-dataset-1K/userid-timestamp-artid-artname-traid-traname.tsv"

In [6]:
df1 = pd.read_csv(filename1, sep='\t')
df1.head()

           #id gender   age        country    registered
0  user_000001      m   NaN          Japan  Aug 13, 2006
1  user_000002      f   NaN           Peru  Feb 24, 2006
2  user_000003      m  22.0  United States  Oct 30, 2005
3  user_000004      f   NaN            NaN  Apr 26, 2006
4  user_000005      m   NaN       Bulgaria  Jun 29, 2006

In [5]:
columns = ["userid", "timestamp", "musicbrainz-artist-id", "artist-name", "musicbrainz-track-id", "track-name"]
df2 = pd.read_csv(filename2, names= columns , sep='\t', error_bad_lines= False)

In [6]:
columns = ["userid", "timestamp", "musicbrainz-artist-id", "artist-name", "musicbrainz-track-id", "track-name"]
df2 = pd.read_csv(filename2, names= columns , sep='\t', error_bad_lines= False)
#df2.head()

        userid  ...                                  track-name
0  user_000001  ...  Fuck Me Im Famous (Pacha Ibiza)-09-28-2007
1  user_000001  ...           Composition 0919 (Live_2009_4_15)
2  user_000001  ...                        Mc2 (Live_2009_4_15)
3  user_000001  ...                     Hibari (Live_2009_4_15)
4  user_000001  ...                        Mc1 (Live_2009_4_15)

[5 rows x 6 columns]

In [9]:
df1.shape, df2.shape

((992, 5), (19098862, 6))

In [10]:
print("Users' profile\n")
df1.info(), print("\nMain data\n"), df2.info()

Users' profile

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #id         992 non-null    object
 1   gender      884 non-null    object
 2   age         286 non-null    float64
 3   country     907 non-null    object
 4   registered  984 non-null    object
dtypes: float64(1), object(4)
memory usage: 38.9+ KB

Main data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19098862 entries, 0 to 19098861
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   userid                 object
 1   timestamp              object
 2   musicbrainz-artist-id  object
 3   artist-name            object
 4   musicbrainz-track-id   object
 5   track-name             object
dtypes: object(6)
memory usage: 874.3+ MB

(None, None, None)

In [11]:
df2.isna().sum().sort_values(ascending = False)

musicbrainz-track-id     2162726
musicbrainz-artist-id     600853
track-name                    12
artist-name                    0
timestamp                      0
userid                         0
dtype: int64

In [6]:
df2.timestamp = pd.to_datetime(df2.timestamp)

In [7]:
df2 = df2[["userid","timestamp", "musicbrainz-artist-id"]]

In [75]:
df2.head()

        userid                 timestamp
0  user_000001 2009-05-04 23:08:57+00:00
1  user_000001 2009-05-04 13:54:10+00:00
2  user_000001 2009-05-04 13:52:04+00:00
3  user_000001 2009-05-04 13:42:52+00:00
4  user_000001 2009-05-04 13:42:11+00:00

In [1]:
df2.isnull().sum()

NameError: ignored

In [8]:
df2.columns = [["userid","time"]]

In [104]:
df2.dtypes

userid                 object
time      datetime64[ns, UTC]
dtype: object

In [14]:
df2.head()

        userid                      time
0  user_000001 2009-05-04 23:08:57+00:00
1  user_000001 2009-05-04 13:54:10+00:00
2  user_000001 2009-05-04 13:52:04+00:00
3  user_000001 2009-05-04 13:42:52+00:00
4  user_000001 2009-05-04 13:42:11+00:00

In [11]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [8]:
df2 = df2.sort_values(["timestamp","userid"], ascending = False)

In [14]:
df2.isnull().sum()

userid                        0
timestamp                     0
musicbrainz-artist-id    600853
dtype: int64

In [12]:
df2.head(100)

,userid,timestamp,musicbrainz-artist-id
14293413,user_000762,2013-09-29 18:32:04+00:00,d8354b38-e942-4c89-ba93-29323432abc3
7696486,user_000405,2010-08-13 23:06:38+00:00,5f572b31-8fd9-45ae-9beb-358c98d839df
12032174,user_000651,2009-06-19 21:31:16+00:00,c43c7134-5d6f-4bfa-8275-b4012ae97c46
18453019,user_000960,2009-06-19 21:27:08+00:00,5cbef01b-cc35-4f52-af7b-d0df0c4f61b9
18453020,user_000960,2009-06-19 21:23:17+00:00,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6
18453021,user_000960,2009-06-19 21:20:24+00:00,3f542031-b054-454d-b57b-812fa2a81b11
18453022,user_000960,2009-06-19 21:18:26+00:00,09037f07-42bc-46ac-a1ee-37f834451fee
18453023,user_000960,2009-06-19 21:14:32+00:00,db9d25d7-a85b-4a29-b2ff-8f5b69ed691e
18453024,user_000960,2009-06-19 21:09:33+00:00,20883363-1ea4-4d72-ad72-c0e767038f3e
18453025,user_000960,2009-06-19 21:06:11+00:00,NaN
18453026,user_000960,2009-06-19 21:00:06+00:00,9a58fda3-f4ed-4080-a3a5-f457aac9fcdd
18453027,user_000960,2009-06-19 20:55:51+00:00,299278d3-25dd-4f30-bae4-5b571c28034d
16342475,user_000842,2009-06-19 20:55:45+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453028,user_000960,2009-06-19 20:51:53+00:00,28b2fb52-a83a-40ec-8617-6436e26eb3fd
13743098,user_000724,2009-06-19 20:50:23+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453029,user_000960,2009-06-19 20:43:18+00:00,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6
13743099,user_000724,2009-06-19 20:42:49+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453030,user_000960,2009-06-19 20:40:16+00:00,0c751690-c784-4a4f-b1e4-c1de27d47581
18453031,user_000960,2009-06-19 20:35:33+00:00,299278d3-25dd-4f30-bae4-5b571c28034d
12016338,user_000650,2009-06-19 20:34:15+00:00,cd84f520-7cd7-4e47-8cab-7beeceec3210
18453032,user_000960,2009-06-19 20:32:50+00:00,3f542031-b054-454d-b57b-812fa2a81b11
12032175,user_000651,2009-06-19 20:31:06+00:00,36173039-4adf-4a25-920f-ba5bdda5df63
12032176,user_000651,2009-06-19 20:30:32+00:00,36173039-4adf-4a25-920f-ba5bdda5df63
18453033,user_000960,2009-06-19 20:28:31+00:00,b23e8a63-8f47-4882-b55b-df2c92ef400e
18453034,user_000960,2009-06-19 20:27:37+00:00,d4ad0149-d8ae-4105-8009-0221fce9ff35
12032177,user_000651,2009-06-19 20:26:37+00:00,3fdcc960-92de-49b6-9016-320aebf784c4
18453035,user_000960,2009-06-19 20:24:42+00:00,55a0e112-113c-40c7-9f2a-dec52ef5dc25
14122756,user_000751,2009-06-19 20:22:22+00:00,b3bc168f-24f6-4c46-b901-2c491c0a7abf
12032178,user_000651,2009-06-19 20:22:22+00:00,b3bc168f-24f6-4c46-b901-2c491c0a7abf
18453036,user_000960,2009-06-19 20:21:11+00:00,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6
12032179,user_000651,2009-06-19 20:18:39+00:00,650e7db6-b795-4eb5-a702-5ea2fc46c848
18453037,user_000960,2009-06-19 20:17:59+00:00,6c8b9855-ba8b-48f9-ac1d-42167f7f7b18
18453038,user_000960,2009-06-19 20:14:45+00:00,87c5dedd-371d-4a53-9f7f-80522fb7f3cb
12032180,user_000651,2009-06-19 20:14:21+00:00,e14ec652-6d81-4511-a697-f3bc700d2954
12032181,user_000651,2009-06-19 20:09:56+00:00,6f92929a-6381-48ac-b348-83b43b9cf646
18453039,user_000960,2009-06-19 20:06:45+00:00,3bcff06f-675a-451f-9075-99e8657047e8
12032182,user_000651,2009-06-19 20:06:39+00:00,6f92929a-6381-48ac-b348-83b43b9cf646
18453040,user_000960,2009-06-19 20:02:43+00:00,60feda7a-9247-48fe-8892-79f9a7d0d503
12032183,user_000651,2009-06-19 20:02:23+00:00,34445610-12bc-4f4a-b88f-03b23b532f04
12032184,user_000651,2009-06-19 19:55:05+00:00,c373c5ac-f35c-4498-8b21-c261edc78d4c
18453041,user_000960,2009-06-19 19:53:20+00:00,b23e8a63-8f47-4882-b55b-df2c92ef400e
12032185,user_000651,2009-06-19 19:51:55+00:00,6f92929a-6381-48ac-b348-83b43b9cf646
12032186,user_000651,2009-06-19 19:48:39+00:00,6f92929a-6381-48ac-b348-83b43b9cf646
18453042,user_000960,2009-06-19 19:48:21+00:00,1946a82a-f927-40c2-8235-38d64f50d043
18453043,user_000960,2009-06-19 19:46:55+00:00,87c5dedd-371d-4a53-9f7f-80522fb7f3cb
18453044,user_000960,2009-06-19 19:43:24+00:00,55a0e112-113c-40c7-9f2a-dec52ef5dc25
12032187,user_000651,2009-06-19 19:42:28+00:00,98ba209f-b3e7-4d01-9565-2a85c22ba78e
12032188,user_000651,2009-06-19 19:39:48+00:00,09444b9e-f11e-4416-a376-bbf7dc6e9139
18453045,user_000960,2009-06-19 19:37:35+00:00,9a58fda3-f4ed-4080-a3a5-f457aac9fcdd
12032189,user_000651,2009-06-19 19:34:36+00:00,b3ba2385-032b-4c83-8a27-dff744a6b584
13743100,user_000724,2009-06-19 19:34:35+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453046,user_000960,2009-06-19 19:32:20+00:00,584c04d2-4acc-491b-8a0a-e63133f4bfc4
12032190,user_000651,2009-06-19 19:30:17+00:00,8fac0731-b031-429e-a34c-9a9655f16d2b
18453047,user_000960,2009-06-19 19:28:42+00:00,28b2fb52-a83a-40ec-8617-6436e26eb3fd
18453048,user_000960,2009-06-19 19:25:04+00:00,3f542031-b054-454d-b57b-812fa2a81b11
12032191,user_000651,2009-06-19 19:24:49+00:00,78e562c1-b19a-4f68-996e-385af280baa3
13743101,user_000724,2009-06-19 19:24:03+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453049,user_000960,2009-06-19 19:23:12+00:00,6c8b9855-ba8b-48f9-ac1d-42167f7f7b18
12032192,user_000651,2009-06-19 19:22:02+00:00,78e562c1-b19a-4f68-996e-385af280baa3
13743102,user_000724,2009-06-19 19:20:11+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453050,user_000960,2009-06-19 19:18:59+00:00,2f360fd9-6440-4896-9f45-8156e8b0b204
18453051,user_000960,2009-06-19 19:15:00+00:00,78f797e3-4913-4026-aad0-1cd858bd735b
13743103,user_000724,2009-06-19 19:13:14+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453052,user_000960,2009-06-19 19:11:32+00:00,ada7a83c-e3e1-40f1-93f9-3e73dbc9298a
12032193,user_000651,2009-06-19 19:10:11+00:00,db76c5ca-d555-4f09-b1db-baa1b713d875
13743104,user_000724,2009-06-19 19:08:05+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453053,user_000960,2009-06-19 19:07:11+00:00,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6
12032194,user_000651,2009-06-19 19:06:36+00:00,31bea673-d23a-4889-8da1-7cb040863268
18453054,user_000960,2009-06-19 19:04:30+00:00,e132d370-2a59-4437-8610-756df28a5a02
12032195,user_000651,2009-06-19 19:02:59+00:00,31bea673-d23a-4889-8da1-7cb040863268
18453055,user_000960,2009-06-19 19:01:38+00:00,4449ccf6-c948-4d33-aa97-b6ad98ce4b5b
13743105,user_000724,2009-06-19 19:00:31+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
12032196,user_000651,2009-06-19 18:59:00+00:00,31bea673-d23a-4889-8da1-7cb040863268
18453056,user_000960,2009-06-19 18:58:39+00:00,397bdd61-95b9-44e1-90aa-ff27e6bc28cf
13743106,user_000724,2009-06-19 18:56:43+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
12032197,user_000651,2009-06-19 18:55:29+00:00,664a8867-2e24-4d05-9bae-de5f7b16f17b
18453057,user_000960,2009-06-19 18:54:42+00:00,9e53f84d-ef44-4c16-9677-5fd4d78cbd7d
12032198,user_000651,2009-06-19 18:52:37+00:00,664a8867-2e24-4d05-9bae-de5f7b16f17b
18453058,user_000960,2009-06-19 18:51:26+00:00,309c62ba-7a22-4277-9f67-4a162526d18a
13743107,user_000724,2009-06-19 18:51:12+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
12032199,user_000651,2009-06-19 18:48:23+00:00,122d63fc-8671-43e4-9752-34e846d62a9c
18453059,user_000960,2009-06-19 18:46:59+00:00,309c62ba-7a22-4277-9f67-4a162526d18a
13743108,user_000724,2009-06-19 18:46:11+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
12032200,user_000651,2009-06-19 18:44:28+00:00,122d63fc-8671-43e4-9752-34e846d62a9c
18453060,user_000960,2009-06-19 18:41:52+00:00,b2274e6d-10e8-4068-9dd2-eb55d4a144b5
12032201,user_000651,2009-06-19 18:41:02+00:00,693a2415-8cd3-4119-8b8f-8fc3c6a2db7a
13743109,user_000724,2009-06-19 18:40:08+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453061,user_000960,2009-06-19 18:37:55+00:00,6c8b9855-ba8b-48f9-ac1d-42167f7f7b18
12032202,user_000651,2009-06-19 18:37:49+00:00,693a2415-8cd3-4119-8b8f-8fc3c6a2db7a
18453062,user_000960,2009-06-19 18:34:22+00:00,25b75a66-ce83-4db3-b136-395a3c3784c4
13743110,user_000724,2009-06-19 18:32:02+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453063,user_000960,2009-06-19 18:30:32+00:00,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6
13743111,user_000724,2009-06-19 18:27:12+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453064,user_000960,2009-06-19 18:25:15+00:00,9e53f84d-ef44-4c16-9677-5fd4d78cbd7d
18453065,user_000960,2009-06-19 18:21:11+00:00,a506f761-2c22-4b2f-8a94-bd748c2c8f75
18453066,user_000960,2009-06-19 18:20:17+00:00,09037f07-42bc-46ac-a1ee-37f834451fee
13743112,user_000724,2009-06-19 18:17:53+00:00,f91e3a88-24ee-4563-8963-fab73d2765ed
18453067,user_000960,2009-06-19 18:15:37+00:00,b9a2a9a6-7a40-48a6-bcb1-8eff5b89ad5b
18453068,user_000960,2009-06-19 18:12:52+00:00,55a0e112-113c-40c7-9f2a-dec52ef5dc25
18453069,user_000960,2009-06-19 18:09:37+00:00,ada7a83c-e3e1-40f1-93f9-3e73dbc9298a

In [21]:
(k.timestamp.max() - k.timestamp.min()).days

1586

In [13]:
#Amount for each customer
import datetime as dt

#Set Latest date 2011-12-10 as last invoice date was 2011-12-09. This is to calculate the number of days from recent purchase
Latest_Date = k.timestamp.max()

#Create RFM Modelling scores for each customer
RFMScores = k.groupby('userid').agg({'timestamp': lambda x: (Latest_Date - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalAmount': lambda x: x.sum()})

#Convert Invoice Date into type int
RFMScores['InvoiceDate'] = RFMScores['InvoiceDate'].astype(int)

#Rename column names to Recency, Frequency and Monetary
RFMScores.rename(columns={'InvoiceDate': 'Recency', 
                         'InvoiceNo': 'Frequency', 
                         'TotalAmount': 'Monetary'}, inplace=True)

RFMScores.reset_index().head()

SyntaxError: ignored

In [130]:
df.dtypes

0                     int64
time    datetime64[ns, UTC]
dtype: object

In [125]:
df

   0                      time
0  1 2009-05-04 23:08:57+00:00
1  2 2009-05-04 13:54:10+00:00
2  3 2009-05-04 13:52:04+00:00
3  4 2009-05-04 13:42:52+00:00
4  5 2009-05-04 13:42:11+00:00

In [127]:
df.time = pd.to_datetime(df["time"])

In [128]:
df.time

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: time, dtype: datetime64[ns, UTC]